@page "{treatmentPlanId}/{caseIntakeId}"

@model Positivity.Pages.Case.TreatmentPlan.CreateTreatmentGoalModel

@section SideMenu {@{ await Html.RenderPartialAsync("Common/_CaseMenuPartial", new MenuModel { Identifier = "TreatmentPlans", CaseId = Model.CaseIntakeId }); }}

@await Component.InvokeAsync("CaseInfoHeader", new { caseIntakeId = Model.CaseIntakeId })

@Html.Partial("Common/_PageTitlePartial", "New Treatment Goal")

@{ViewData["Title"] = "Create";}

<form method="post">

    @Html.Partial("_TreatmentGoalPartial", Model.TreatmentGoalData)

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 text-right">
                    <input type="submit" value="Save" class="btn btn-blueTwo" />
                    <a href="@Navigator.UpdateTreatmentPlan/@Model.TreatmentGoalData.TreatmentPlanId" class="btn btn-sliverOne">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }}