@page "{CaseIntakeId}"
@model Positivity.Pages.Case.ProgressNote.CreateProgressNoteModel

@section SideMenu {@{ await Html.RenderPartialAsync("Common/_CaseMenuPartial", new MenuModel { Identifier = "ProgressNotes", CaseId = Model.ProgressNoteData.CaseIntakeId }); }}

@await Component.InvokeAsync("CaseInfoHeader", new { caseIntakeId = Model.ProgressNoteData.CaseIntakeId })

@Html.Partial("Common/_PageTitlePartial", "Progress Note")

@{ViewData["Title"] = "Create";}

<form method="post">

    @Html.Partial("_ProgressNotePartial", Model.ProgressNoteData)

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 text-right">
                    <input type="submit" value="Save" class="btn btn-blueTwo" />
                    <a href="@Navigator.ProgressNotes/@Model.ProgressNoteData.CaseIntakeId" class="btn btn-sliverOne">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }}