@page

@model Positivity.Pages.Client.ViewGuardianModel
@{
    ViewData["Title"] = "View Guardian";
}
@section SideMenu {@{ await Html.RenderPartialAsync("Common/_DashboardMenuPartial", new MenuModel { Identifier = "" }); }}

@{ViewBag.Title = "View Guardian";}

@Html.Partial("Common/_PageTitlePartial", "View Guardian")


<div class="panel panel-body">

    <!--START ROW-->
    <div class="row">

        <div class="col-md-3">

            <label>First Name</label>
            <p>LOREM IPSUM</p>

        </div>

        <div class="col-md-3">

            <label>Middle Name</label>
            <p>LOREM IPSUM</p>

        </div>

        <div class="col-md-3">

            <label>Last Name</label>
            <p>LOREM IPSUM</p>

        </div>

    </div>
    <!--END ROW-->
    <!--START ROW-->
    <div class="row">

        <div class="col-md-3">

            <label>Alias</label>
            <p>LOREM IPSUM</p>

        </div>

        <div class="col-md-3">

            <label>Date of Birth</label>
            <p>LOREM IPSUM</p>

        </div>

    </div>
    <!--END ROW-->
    <!--START ROW-->
    <div class="row">

        <div class="col-md-6">

            <label>Address</label>
            <p>LOREM IPSUM</p>

        </div>

    </div>
    <!--END ROW-->
    <!--START ROW-->
    <div class="row">

        <div class="col-md-3">

            <label>City</label>
            <p>LOREM IPSUM</p>

        </div>

        <div class="col-md-3">

            <label>State</label>
            <p>LOREM IPSUM</p>

        </div>

        <div class="col-md-3">

            <label>Zip</label>
            <p>LOREM IPSUM</p>

        </div>

    </div>
    <!--END ROW-->
    <!--START ROW-->
    <div class="row">

        <div class="col-md-3">

            <label>Primary Phone</label>
            <p>LOREM IPSUM</p>

        </div>

    </div>
    <!--END ROW-->
    <!--START ROW-->
    <div class="row">

        <div class="col-md-3">

            <label>Secondary Phone</label>
            <p>LOREM IPSUM</p>

        </div>

    </div>
    <!--END ROW-->
    <!--START ROW-->
    <div class="row">

        <div class="col-md-3">

            <label>Is Emergency Contact</label>
            <p>LOREM IPSUM</p>

        </div>

    </div>
    <!--END ROW-->
    <!--START ROW-->
    <div class="row">

        <div class="col-md-3">

            <label>Relationship</label>
            <p>LOREM IPSUM</p>

        </div>

        <div class="col-md-3">

            <label>Gender</label>
            <p>LOREM IPSUM</p>

        </div>

        <div class="col-md-3">

            <label>Race</label>
            <p>LOREM IPSUM</p>

        </div>

    </div>
    <!--END ROW-->
    <!--START ROW-->
    <div class="row">

        <div class="col-md-3">

            <label>Is Financially Responsible</label>
            <p>LOREM IPSUM</p>

        </div>

    </div>
    <!--END ROW-->


</div>