@page
@model Positivity.Pages.User.ChangePasswordModel

@{ViewData["Title"] = "Change Password";}

@section SideMenu {@{ await Html.RenderPartialAsync("Common/_DashboardMenuPartial", new MenuModel { Identifier = "" }); }}

<form method="post">
    <div class="panel panel-info">
        <div class="panel-heading">Change Password</div>
        <div class="panel-body">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <span>Login Id</span><span asp-validation-for="ChangePasswordModelData.LoginID" class="text-danger"></span>
                        <input type="text" asp-for="ChangePasswordModelData.LoginID" class="form-control" />
                    </div>

                    <div class="col-md-4">
                        <span>Current Password</span><span asp-validation-for="ChangePasswordModelData.Password" class="text-danger"></span>
                        <input type="password" asp-for="ChangePasswordModelData.Password" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span>New Password</span><span asp-validation-for="ChangePasswordModelData.NewPassword" class="text-danger"></span>
                        <input type="password" asp-for="ChangePasswordModelData.NewPassword" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span>Confirm Password</span><span asp-validation-for="ChangePasswordModelData.ConfirmPassword" class="text-danger"></span>
                        <input type="password" asp-for="ChangePasswordModelData.ConfirmPassword" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <hr />
                    <button type="submit" class="btn btn-blueTwo">  Update </button>
                    <a href="@Navigator.Dashboard" class="btn btn-sliverOne" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>

@section Scripts {@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }}