@page "{appUserId}"

@model Positivity.Pages.User.ResetPasswordModel


@section SideMenu {@{ await Html.RenderPartialAsync("Common/_DashboardMenuPartial", new MenuModel { Identifier = "Dashboard" }); }}

<form asp-controller="Security" asp-action="EditAppUser" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="panel panel-info">
        <div class="panel-heading"><strong>Reset Password</strong></div>
        <div class="panel-body">
            <input type="hidden" asp-for="AppUserData.LoginId" />
            <input type="hidden" asp-for="AppUserData.Id" />

            <div class="row">
                <div class="col-md-3">
                    <span>Login Id</span>
                    <label  class="form-control" disabled>@Model.AppUserData.LoginId</label>
                </div>
                <div class="col-md-3">
                    <span>First Name</span>
                    <label type="text" class="form-control" disabled>@Model.AppUserData.FirstName</label>
                </div>
                <div class="col-md-3">
                    <span>Last Name</span>
                    <label  class="form-control" disabled>@Model.AppUserData.LastName</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <hr />
                    <button type="submit" class="btn btn-blueTwo">Confarm Password Reset</button>
                    <a href="@Navigator.CreateAppUser" class="btn btn-sliverOne">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }}