@page

@model IndexModel

<h1>Hello</h1>

<div class="panel panel-body">
    <div class="row">
        <div class="col-md-1">
            <button type="button" class="btn btn-blueOne">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-blueTwo">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-blueThree">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-aquaOne">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-greenOne">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-greenTwo">Hello</button>
        </div>

        <div class="col-md-1">
            <button type="button" class="btn btn-orangeOne">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-orangeTwo">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-yellowOne">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-yellowTwo">Hello</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <button type="button" class="btn btn-grayOne">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-grayTwo">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-sliver">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-redTwo">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-redOne">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-blackOne">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-blackTwo">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-brownOne">Hello</button>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-brownTwo">Hello</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <button type="button" class="btn btn-success">Hello Row2</button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-danger">Hello</button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-primary">Hello</button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-warning">Hello</button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-info">Hello</button>
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-default">Hello</button>
    </div>
</div>